body {
    background-image: url('img/fondo-oscuro-lineas.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.font-main {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}
.nav-item:hover{
    border-bottom: 2px solid #F3CF31;
}
.contenido-nav{
    height: max-content;
}
.logo{
    width: 70%;
}
.nav-link{
    padding-bottom: 2.2rem;
    color: white;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.479) !important;
}

.btn-solicitar:hover{
    background-color: #F3CF31;
    border-color: #F3CF31;
    color: black;
}
.btn-outline-primary{
    border-color: #F3CF31;
    color: #F3CF31;
}
.btn-primary{
    background-color: #F3CF31;
    color: black;
    border-color: #F3CF31;
}
.btn-enviar:hover{
    background-color: #F3CF31;
    opacity: 90%;
    color: black;
    border-color: #F3CF31;
}

.img-enchufe{
    margin-bottom: -17px;
    position: relative;
    z-index: 1000;
}

.icono-bolt{
    color: #F3CF31;
    font-size: 2em;
}

.border-4 {
    border-color: #F3CF31 !important;
}
.card{
    height: 200px;
}

.material-symbols-outlined {
    height: 1000px; 
}
.fa-bolt{
    font-size: 18em; 
    color: #F3CF31;
}
.inicio{
    height: 800px;
}
.sobre-mi{
    height: 700px;
}
.contacto{
    height: 700px;
}

.btn-whatsapp{
    position: fixed;
    height: 55px;
    width: 55px;
    line-height: 53px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}
.btn-whatsapp:hover{
    text-decoration: none;
    color: #0df053;
    background: #fff;
}
.margin-top{
    margin-top: 100px;
}

@media (max-width: 1200px){
    .logo{
        width: 100%;
    }
    .fa-bolt{
        font-size: 15em; 
    }
}
@media (max-width: 768px){
    .logo{
        width: 25%;
    }
    .fa-bolt{
        font-size: 10em;
    }
}
@media (max-width: 624px){
    .inicio{
        flex-direction: column;
        margin-top: 150px;
    }   
}

.padding-top-title{
    padding-top: 140px !important;
}